@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-mont{
  font-family: Montserrat;
}

.bg-color{
  background: #ECECEC;
  height: 100vh;
}

.bg-color-full{
  background: #ECECEC;
  height: 100%;
}

.bg-color-dash{
  background: #ECECEC;
  height: 100vh;
}

.bg-color-full-dash{
  background: #ECECEC;
  height: 100%;
}

.bg-light-gray{
  background: #ECECEC;
}

.bg-gray-d{
  background: #DCDCDC;
}

.bg-gray-view{
  background: rgba(236, 236, 236, 0.56);
}

.text-light-gray{
  color: #B8B8B8;
}

.gray-text{
  color: #939393;
}

.month-gray{
  background: #FAFAFA;
}

.search-gray{
  background: #F6F6F6;
}

.black-bg{
  background: #1E1E1E;
}

.black-text{
  color: #1E1E1E;
}

.green-text{
  color: #00940A;
}

.icon-blue{
  color: #0076CB;
}

.icon-red{
  color: #F10000;
}

.icon-yellow{
  color: #E3D322;
}

.icon-green{
  color: #0AE418;
}

.green-text{
  color: #00940A;
}

.dash-width{
  width: 97%;
}

.increase{
border-radius: 16px;
border: 1px solid #0AE418;
background: rgba(10, 228, 24, 0.08);
width: 50px;
}

.increase-view{
border-radius: 16px;
border: 1px solid #0AE418;
background: rgba(10, 228, 24, 0.08);
}

.deccrease{
border-radius: 16px;
border: 1px solid #F10000;
background: rgba(228, 10, 10, 0.08);
width: 50px;
}

.on-credit{
border-radius: 24px;
border: 1px solid #F10000;
background: rgba(241, 0, 0, 0.08);
padding: 10px 21px;
}

.fully-paid{
  border-radius: 24px;
  border: 1px solid #00940A;
  background: rgba(10, 228, 24, 0.08);
  padding: 10px 21px;
}

.border-receipt{
  border: 3.5px solid white;
}

.impo{
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.green-box{
width: 16px;
height: 16px;
flex-shrink: 0;
border-radius: 5px;
background: #0AE418;
}

.yellow-box{
width: 16px;
height: 16px;
flex-shrink: 0;
border-radius: 5px;
background: #E3D322;;
}

.red-box{
width: 16px;
height: 16px;
flex-shrink: 0;
border-radius: 5px;
background: #F10000;;
}

.box{
border: 1px solid #ECECEC;
background: #F6F6F6;
}

.bg-table{
  background: rgba(236, 236, 236, 0.47);
}


/* ##### MOBILE ##### */
@media screen and (max-width: 490px){
  .bg-color{
    background: none;
    height: none;
  }
  
  .bg-color-full{
    background: none;
    height: none;
  }

  .dash-width{
    width: 92%;
  }

  .on-credit{
    padding: 6px 17px;
    }
}