@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-mont{
  font-family: Montserrat;
}

.bg-color{
  background: #ECECEC;
  height: 100vh;
}

.bg-color-full{
  background: #ECECEC;
  height: 100%;
}

.bg-color-dash{
  background: #ECECEC;
  height: 100vh;
}

.bg-color-full-dash{
  background: #ECECEC;
  height: 100%;
}

.bg-light-gray{
  background: #ECECEC;
}

.bg-gray-d{
  background: #DCDCDC;
}

.bg-gray-view{
  background: rgba(236, 236, 236, 0.56);
}

.text-light-gray{
  color: #B8B8B8;
}

.gray-text{
  color: #939393;
}

.month-gray{
  background: #FAFAFA;
}

.search-gray{
  background: #F6F6F6;
}

.black-bg{
  background: #1E1E1E;
}

.black-text{
  color: #1E1E1E;
}

.green-text{
  color: #00940A;
}

.icon-blue{
  color: #0076CB;
}

.icon-red{
  color: #F10000;
}

.icon-yellow{
  color: #E3D322;
}

.icon-green{
  color: #0AE418;
}

.green-text{
  color: #00940A;
}

.dash-width{
  width: 97%;
}

.increase{
border-radius: 16px;
border: 1px solid #0AE418;
background: rgba(10, 228, 24, 0.08);
width: 50px;
}

.increase-view{
border-radius: 16px;
border: 1px solid #0AE418;
background: rgba(10, 228, 24, 0.08);
}

.deccrease{
border-radius: 16px;
border: 1px solid #F10000;
background: rgba(228, 10, 10, 0.08);
width: 50px;
}

.on-credit{
border-radius: 24px;
border: 1px solid #F10000;
background: rgba(241, 0, 0, 0.08);
padding: 10px 21px;
}

.fully-paid{
  border-radius: 24px;
  border: 1px solid #00940A;
  background: rgba(10, 228, 24, 0.08);
  padding: 10px 21px;
}

.border-receipt{
  border: 3.5px solid white;
}

.impo{
  margin: 0 !important;
  padding-bottom: 0 !important;
}

.green-box{
width: 16px;
height: 16px;
flex-shrink: 0;
border-radius: 5px;
background: #0AE418;
}

.yellow-box{
width: 16px;
height: 16px;
flex-shrink: 0;
border-radius: 5px;
background: #E3D322;;
}

.red-box{
width: 16px;
height: 16px;
flex-shrink: 0;
border-radius: 5px;
background: #F10000;;
}

.box{
border: 1px solid #ECECEC;
background: #F6F6F6;
}

.bg-table{
  background: rgba(236, 236, 236, 0.47);
}

.border-choose-left{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.border-choose-right{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}





/* alert modal start */

/* alert */
.center-proceed,
.is-proceed {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.is-proceed {
    background: rgba(49, 49, 49, 0.8);
}

.center-content-proceed {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    min-width: 100%;
}


div.cancel-proceed-icon {
    position: absolute;
    left: 61%;
    top: 25%;
}

.cancel-proceed {
    font-size: 4.5rem;
    color: #249DF5;
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

div.proceed-container {
    /* border-radius: 30px; */
    margin-top: 10%;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 30%;
    height: 100%;
    background: white;
}

h1.payment-method {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
}

p.select-payment-method {
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins';
}

div.payment-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

button.card-btn {
    border: 1px solid #249DF5;
    background: transparent;
    border-radius: 15px;
    font-size: .9rem;
    font-weight: bold;
    color: #249DF5;
    padding: .4rem 2rem;
    font-family: 'Poppins';
}

button.card-btn:hover {
    background: #249DF5;
    color: white;
}

button.wallet-btn {
    border: 1px solid #249DF5;
    background: transparent;
    border-radius: 15px;
    font-size: .9rem;
    font-weight: bold;
    color: #249DF5;
    padding: .4rem 2rem;
    font-family: 'Poppins';
}

button.wallet-btn:hover {
    background: #249DF5;
    color: white;
}

a.proceed-btn {
    background-color: transparent;
    border: 1px solid #249DF5;
    border-radius: 10px;
    color: black;
    padding: .7rem 0;
    width: 45%;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
}

a.proceed-btn:hover {
    background: #249DF5;
    color: white;
}

.margin-phone-receipt {
    margin-top: 9px;
}

/* request approval buttons */
.approve-button{
border-radius: 8px;
border: 1px solid #1E1E1E;
background: rgba(30, 30, 30, 0.08);
padding: 7px 22px 9px 23px
}

.approved-button{
  border-radius: 8px;
  border: 1px solid #00940A;
  background: #00940A;
  padding: 7px 50px 9px 51px;
}


/* css button loader */
/* HTML: <div class="loader"></div> */
.loader-btn {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  clip-path: inset(-45px);
  box-shadow: -60px 15px,-60px 15px,-60px 15px;
  transform: translateY(-15px);
  animation: l19 1s infinite linear;
}
@keyframes l19{ 
  16.67% {box-shadow:-60px 15px,-60px 15px,19px 15px}
  33.33% {box-shadow:-60px 15px,  0px 15px,19px 15px}
  40%,60%{box-shadow:-19px 15px,  0px 15px,19px 15px}
  66.67% {box-shadow:-19px 15px,  0px 15px,60px 15px}
  83.33% {box-shadow:-19px 15px, 60px 15px,60px 15px}
  100%   {box-shadow: 60px 15px, 60px 15px,60px 15px}
}

/* css loading loader */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 30px auto;
  background: #1E1E1E;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}


/* ##### MOBILE ##### */
@media screen and (max-width: 490px){
  .bg-color{
    background: none;
    height: none;
  }
  
  .bg-color-full{
    background: none;
    height: none;
  }

  .dash-width{
    width: 92%;
  }

  .on-credit{
    padding: 6px 17px;
    }

    div.proceed-container {
      /* border-radius: 30px; */
      margin-top: 50%;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto;
      padding: 2rem;
      width: 90%;
      height: 100%;
      background: white;
  }

  /* request approval buttons */
.approve-button{
  border-radius: 8px;
  border: 1px solid #1E1E1E;
  background: rgba(30, 30, 30, 0.08);
  padding: 1px 12px 7px 13px
  }
  
  .approved-button{
    border-radius: 8px;
    border: 1px solid #00940A;
    background: #00940A;
    padding: 1px 30px 7px 31px;
  }

}